body {
    
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('pexels-phong-nguyen-40565-185545new.jpg'); 
  background-size: cover;         
  background-repeat: no-repeat;   
  background-position: center;    
  background-attachment: fixed;   
  color: #333;
}

header {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a.active, nav a:hover {
    color: #f39c12;
}


.hero {
    background: url('garage.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 150px 20px;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 30px;
    border-radius: 12px;
}

.btn {
    background-color: #f39c12;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #d98200;
}


.about, .contact, .services, .detail {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}


.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service {
    background: #fafafa;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.service h3 a {
    text-decoration: none;
    color: #222;
}

.service h3 a:hover {
    color: #f39c12;
}


footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 15px 10px;
    margin-top: 20px;
}

